@import "../../style/value/colors";
@import "../../style/value/grid";

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat($gridColumnNum * 2 + 1, 1fr);
  margin-bottom: 40px;
  align-items: center;
  .box {
    grid-column-start: 2;
    grid-column-end: $gridColumnNum * 2 + 1;
    text-align: center;
    border: 1px solid $main2Color;
  }

}
