@import "../../style/value/colors";

$indicatorDeppari: 70px;
$indicatorHeight: 50px;

.stepIndicator {
  position: relative;
  height: $indicatorHeight;
  width: calc(100% - #{$indicatorDeppari + 10px});
  margin-left: $indicatorDeppari;
  background-color: $pastColor;
  &.current {
    background-color: $currentColor;
    &:after {
      border-left: $indicatorDeppari solid $currentColor;
    }
    &::before {
      border-top: $indicatorHeight/2 solid $currentColor;
      border-bottom: $indicatorHeight/2 solid $currentColor;
    }
  }
  &:after {
    position: absolute;
    left: 100%;
    top: 0;
    content: "";
    border-left: $indicatorDeppari solid $pastColor;
    border-top: $indicatorHeight/2 solid transparent;
    border-bottom: $indicatorHeight/2 solid transparent;
  }
  &:before {
    position: absolute;
    left: -($indicatorDeppari);
    top: 0;
    content: "";
    border-left: $indicatorDeppari solid transparent;
    border-top: $indicatorHeight/2 solid $pastColor;
    border-bottom: $indicatorHeight/2 solid $pastColor;
  }
  .title {
    float: left;
    top: 0;
    white-space: nowrap;
  }
  .text {
    float: right;
    bottom: 0;
    white-space: nowrap;
  }
}
