@import "../../style/value/colors";

$indicatorHeight: 50px;

.stepIndicator {
    position: relative;
    float:left;
    height: $indicatorHeight; 
    width: 100px;
    margin-right: 2px; 
    background-color: $mainColor; 
    text-align: center;
    display: block;
    margin-left: 50px;
}

.shapes:after {
    position: absolute;
    left:100%;
    top: 0;
    content: "";
    border-left: $indicatorHeight/2 solid $mainColor;
    border-top: $indicatorHeight/2 solid transparent; 
    border-bottom: $indicatorHeight/2 solid transparent; 
}
.shapes:before {
    position: absolute;
    left: -($indicatorHeight/2);
    top: 0;
    content: "";
    border-left: $indicatorHeight/2 solid transparent; 
    border-top: $indicatorHeight/2 solid $mainColor;
    border-bottom: $indicatorHeight/2 solid $mainColor;
}