@import "../../style/value/colors";
@import "../../style/value/ratios";

$normalSize: 80px;
$smallSize: 35px;

.cardWrapper {
  position: relative;
  bottom: 0;
  width: 10px;
  height: $normalSize * $silverRatio;
  &.small {
    height: 7px;
    width: $smallSize;
  }
}
.card {
  float: left;
  position: relative;
  width: $normalSize;
  height: $normalSize * $silverRatio;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.2s ease-out;

  &.small {
    width: $smallSize;
    height: $smallSize * $silverRatio;
  }
  & div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    box-shadow: 3px 3px 6px $shadowColor;
    backface-visibility: hidden;
  }
}
// デフォルトでは表が隠れた状態
.front {
  background-color: $cardColor;
  transform: rotateY(180deg);
}
.back {
  background-color: $backGroundColor;
}
.open {
  transform: rotateY(180deg);
  &:not(.small):hover {
    z-index: 1;
    
    width: $normalSize * 1.2;
    height: $normalSize * $silverRatio * 1.2;
  }
}
// TODO 後で関数化する
.rat {
  &.small{grid-column: 1;}
  .front {
    display: table;
    &:after {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      content: "🐭";
    }
  }
}
.dog{
  &.small{grid-column: 2;}
  .front {
    display: table;
    &:after {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      content: "🐶";
    }
  }
}
.snake{
  &.small{grid-column: 3;}
  .front {
    display: table;
    &:after {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      content: "🐍";
    }
  }
}
.jellyfish {
  &.small{grid-column: 4;}
  .front {
    display: table;
    &:after {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      content: "海月";
    }
  }
}
.bat {
  &.small{grid-column: 5;}
  .front {
    display: table;
    &:after {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      content: "🦇";
    }
  }
}
.deer {
  &.small{grid-column: 6;}
  .front {
    display: table;
    &:after {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      content: "🦌";
    }
  }
}
.shark {
  &.small{grid-column: 7;}
  .front {
    display: table;
    &:after {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      content: "🦈";
    }
  }
}
.crow {
  &.small{grid-column: 8;}
  .front{
    display: table;
    &:after {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      content: "🦅";
    }
  }
}
