$backGroundColor: white;
$frameColor: #10050a;
$shadowColor: #4e4851;
$mainColor: #b81b30;
$subColor: #680021;
$sub2Color: #ca4549;
$accentMainColor: #cdb557;
$accentSubColor: #dcd2a9;
$accent2MainColor: #724e87;
$accent2SubColor: #d7d2dc;
