$panelColor: #ffffff;
$shadowColor: #00000080;
$mainColor: #413123;
$main2Color: #190202;
$subColor: #E2E2E2;
$backGroundColor: #454545;
$currentColor: #46B6CF;
$pastColor: #8ED6E6;
$cardColor: #ffffff;