@import "../../style/value/colors";

.app_header{
  width: 100vw;
  height: 100px;
  box-shadow: 0px 3px 6px $shadowColor;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: $mainColor;
  color: $subColor;
  h1 {
    margin-top: 15px;
    margin-left: 15px;
  }
}