@import "../../style/value/colors";
@import "../../style/value/grid";
@import "../../style/responsive.scss";
@import "../atoms/Button.module.scss";

.playing_panel {
  display: grid;
  grid-auto-rows: 300px;
  row-gap: 10px;
  column-gap: 10px;
}
.player_columns_1 {
  grid-template-columns: repeat(1, 1fr);
}

.player_columns_2 {
  @include mQuery(sp) {
    grid-template-columns: repeat(1, 1fr);
  }
  @include mQuery(tab) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.player_columns_3 {
  @include mQuery(sp) {
    grid-template-columns: repeat(1, 1fr);
  }
  @include mQuery(tab) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mQuery(pc) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.row {
  width: 100%;
  height: 3em;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat($gridColumnNum * 2 + 1, 1fr);
  margin-bottom: 40px;
  align-items: center;

  .box {
    grid-column-start: 1;
    grid-column-end: $gridColumnNum * 2 - 2;
    text-align: center;
  }

}
.border {
  display: grid;
  grid-column: 2/-2;
  border: 1px solid $main2Color;
  position: relative;
  height: 33px;
}
.button {
  position: absolute;
  top: -$buttonDeppari;
  right: 0;
  height: 33px;
  width: auto;
  grid-column-start: 19;
}
