@import "./value/colors";

body {
  margin: 0;
  font-family: '游ゴシック', 'Meiryo UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backGroundColor;
}
