@import "../../style/value/colors";

.content {
  background-color: $subColor;
  box-shadow: 3px 3px 9px $shadowColor;
  max-width: 1000px;
  min-height: 50vh;
  overflow: hidden;
  margin: 40px auto;
  padding-top: 60px;
  padding-bottom: 60px;
}