@import "../../style/value/colors";
@import "../../style/value/grid";

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat($gridColumnNum, 1fr);
  
  align-items: center;
  .label {
    grid-column-start: 3;
    grid-column-end: 6;

    text-align: right;
    padding-right: 30px;
  }
  .item {
    grid-column-start: 6;
    grid-column-end: 9;
  }
}
